/*
Program name: Styles.css
Author: Mark Blanchard 1791151
Date created: 9/3/24
Date last edited: 11/2/24
Version: 1.7
Description: Homework 3 medical form css */

 body {
  background-color: rgb(58, 190, 207);
  color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
p {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-style: italic;
  font-size: x-large;
}
footer{
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  font-size: x-large;
}
span{
  color: red;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.validation-feedback {
    width: 250px;
    font-size: 0.9em;
    color: #555;
    line-height: 1.5;
    margin-left: 10px;
    border-left: 2px solid #ddd;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    min-height: 60px; /* Prevent layout shifts */
}

